        <footer>
            <hr>
            CST336 Internet Programming. 2020&copy; Cruz <br />
            <strong>Disclaimer:</strong> The information in this webpage is fictitious.<br />
            It is used for academic purposes only.
            <br><br>
            Source Information -<a href="https://www.britannica.com/science/bioinformatics" target ="_blank"> Britannica: Bioinformatics</a><br />
            Source Image -<a href="https://microbenotes.com/bioinformatics-introduction-and-applications/" target="_blank"> Bioinformatics Image</a>
            <figure>
                <img src="img/CSUMB_Logo_Black.png" alt="CSUMB Logo" class="footer-logo" />
            </figure>
        </footer>
        
    </body>
</html>