<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Homework 1: Bioinformatics </title>
        <meta charset="utf-8">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rye">
    </head>
    <body>