<ul>
  <li><a href="/">               Home         </a></li>
  <li><a href="/data">           Data         </a></li>
  <li><a href="/storage">        Storage      </a></li>
  <li><a href="/application">     Application  </a></li>
</ul>