<%- include('partials/header.ejs') %>
        
        <header>
            <h1>application</h1>
        </header><br/>
<%- include('partials/nav.ejs') %>
        <br><br>
        
        <div class="bioinfo">
            <h2>How is this data being used?</h2>
        </div>
        
        <main>
            
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://www.azocleantech.com/article.aspx?ArticleID=1093">
                        <img src="img/bioinfo_ocean.jpg" alt="Ocean Pollution" width="600" height="400">
                    </a>
                    <div class="desc">help develop organic solutions to pollution</div>
                </div>
            </div>
            
             <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://www.conserve-energy-future.com/is-global-warming-real.php">
                        <img src="img/bioinfo_gwarm.jpg" alt="Global Warming" width="600" height="400">
                    </a>
                    <div class="desc">combat global warming</div>
                </div>
            </div>
            
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://blog.crownbio.com/pdx-personalized-medicine">
                        <img src="img/bioinfo_meds.png" alt="Personalized Medicine" width="600" height="400">
                    </a>
                    <div class="desc">enable more personalized treatments</div>
                </div>
            </div>
            
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://www.precisa.co.uk/precision-weighing-in-forensic-analysis-forensic-processes-and-forensic-lab-equipment/">
                        <img src="img/bioinfo_forensics.jpg" alt="Forensic Analysis" width="600" height="400">
                    </a>
                    <div class="desc">determine scientific data present at crime scenes</div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
        </main>
        
<%- include('partials/footer.ejs') %>