<%- include('partials/header.ejs') %>
        
        <header>
            <h1>data</h1>
        </header><br/>
<%- include('partials/nav.ejs') %>
        <br><br>
        
        <div class="bioinfo">
            <h2>What kind of data is collected?</h2>
        </div>
        
        <main>
            <figure>
                <img src="img/bioinfo_data.jpg" alt="Bioinformatics image" id="bioimg"/>
            </figure>
            
            <div class="biodef">
            <p>
                The types of data collected are complex consisting of: 
            </p>
            <dl>
                <dt>DNA Sequences</dt>
                <dd>- Full human genomes</dd>
                <dt>Amino acid sequences</dt>
                <dd>- Protein sequences</dd>
                <dt>Metabolomics</dt>
                <dd>- The nature and traffic patterns of transformations of small molecules by the biochemical pathways active in cells</dd>
                <dt>Transcriptomics</dt>
                <dd>- The pattern of RNA synthesis from DNA</dd>
                <dt>Proteomics</dt>
                <dd>- Distribution of proteins in cells</dd>
            </dl>
            </div>
        </main>
        
<%- include('partials/footer.ejs') %>