<%- include('partials/header.ejs') %>
        
        <header>
            <h1>bioinformatics</h1>
        </header><br/>
<%- include('partials/nav.ejs') %>
        <br><br>
        
        <div class="bioinfo">
            <h2>What is bioinformatics?</h2>
        </div>
        
        <main>
            <figure>
                <img src="img/bioinfo_index.jpg" alt="Bioinformatics image" id="bioimg"/>
            </figure>
            
            <div class="biodef">
            <p><%= fakeInfo %></p>
            <p>
            The application of computational technology to handle the rapidly growing repository of information related to molecular biology.
            This new field of science combines different fields of study, including computer sciences, molecular biology, biotechnology, statistics and engineering.
            Combining all these disciplines is difficult but can be accomplished through three main steps.
            </p>
            
            <p>These are: </p>
                <ol>
                    <li> Data collection </li>
                    <li> Storage and Munipulation </li>
                    <li> Application </li>
                </ol>
            </div>
        </main>

<%- include('partials/footer.ejs') %>